[submodule "Client-HireMate"]
	path = client
	url = https://github.com/bestprappy/Client-HireMate.git
	branch = main
[submodule "Server-HireMate"]
	path = server
	url = https://github.com/bestprappy/Server-HireMate.git
	branch = main
